header{
background-color: black;
color: white;
position: fixed;
top: 0px;
width: 100%;
}
li{
	font-size: 40px;
}
nav {
background-color: beige;
display: block;

display: flex;
}
title{
	background-color: red;
}
.site{
	font-family: Snap ITC ;
}
body{
	background-color: #ffcd43;
}
a 
{
text-decoration: none;
color: blue;
font-style: italic;
}
a:hover 
{
text-decoration: underline;
color:#ffcd43;
}
img{
float: left;
}
.tete{
width: 30%;
display: block;
}
.central{
text-align: center;
}
h1{
	font-size: 60px;
}
h2{
	font-size: 40px;
}
p,input,textarea{
	font-size: 30px;
}
div{
	margin-top: 200px;
}