header{
background-color: black;
color: white;
height: 200px;
width: 100%;
position: fixed;
top: 0;


}
.site{
	font-family: Snap ITC ;
}

h1{
text-align: center;
font-size:   60px;

}
body{
	background-color:#ffcd43;
}
.logo{
float: left;
}
li{
font-size:  1000px;
}
nav {
background-color: beige;
display: block;
display: flex;
height: 50px;
}
a{
	font-size: 40px;
width: 30%;
display: block;
}
footer{
display: flex;
padding: 5px 5px 5px 5px;
height: 1000px;
margin-top:0px;
width: 80%;
}
audio{
	width: 100%;

}
video{
	margin: auto;
}
h2{
	font-size: 40px;
  text-align: center;
}
h3{
	font-size: 30px;
}
.articlef{
	width: 1000px;
}


aside{
width: 18%;
height: 100%;

right: 0;
margin-left:  50px;
margin-top: 10px;
padding: 10px 10px 10px 10px;
}
.Garticle{
width: 80%;
height: 2500px;
padding: 10px 10px 10px 10px;
overflow: auto;
margin-top: 10px;

}
#IA{
	margin-top: 200px;
	
}
a 
{
text-decoration: none;
color: blue;
font-style: italic;
}
a:hover 
{
text-decoration: underline;
color:#ffcd43;
}

section{
display: flex;
height: 2500px;
width: 100%;
margin-top: 10px;

}
h2{
width: 30%;
text-align: center;
font-size: 60px;
display: flex;
flex: column;

}
div{
width: 100%;
height: 100%;
}
.bienvenue{
height: 10%;
padding: 5px 5px 5px 5px;
margin-bottom: 500px;
}
p{
	font-size: 60px;
}

li{
	font-size: 45px;
}